/*
 * Fixture: UTF-16 encoded file with a byte-order mark.
 *
 * FICTIONAL. Invented for this test suite. Any resemblance to a real schema is
 * coincidental -- see tests/fixtures/README.md before adding fixtures.
 *
 * Exercises: read_bytes_safe beyond its current encoding list (utf-8,
 * windows-1252, cp1252, latin-1) -- this file is saved as UTF-16LE with a
 * BOM, a real-world case (SSMS "Save As" -> Unicode) the decoder has never
 * been tried against.
 */
CREATE PROCEDURE hr.usp_ListActiveEmployees AS
BEGIN
    SELECT e.EmployeeId, e.EmployeeName
    FROM hr.Employee e
    WHERE e.IsActive = 1;
END
